name: time-service CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
  - cron: "15 7 * * *"
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Сборка и тестирование микросервиса time-service (Docker image)
      run: |
        cd time-service
        docker build . -t time-service:0.1.0
        docker run --name time-service-test -d -p 8080:8080 time-service:0.1.0
        # проверка точек доступа
        curl localhost:8080/nanotime
        curl localhost:8080/time
        # остановка контейнера
        docker stop time-service-test
    - name: Запуск микросервиса time-service в локальном кластере minikube
      run: |
        cd time-service
        minikube start
        kubectl create deployment time-service --image time-service:0.1.0
        sleep 10s
        kubectl get pods -o wide
        kubectl describe deploy/time-service
        kubectl get rs
        kubectl get events
        # ожидание запуска
        kubectl rollout status deployment/time-service --timeout 90s
        kubectl get pods -o wide
        # имя отсека и его описание
        POD=$(kubectl get pod -l app=time-service -o jsonpath="{.items[0].metadata.name}")
        kubectl describe pod $POD
